{% extends "base.html" %}

{% block content %}
            <div class="error_text">
                {% if obj.errors|length > 0 %}
                    {% for error in obj.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
				{% endif %}
            </div>
            <div>
                <form action="/reservations/manage?action=insert" method="POST">

                    Guest:<br>
                    <select name="uid">
                        {% for guest in obj.guests.data %}
                            {% if obj.data[0].uid == guest.uid %}
                                <option selected="true" value="{{ guest.uid }}">{{ guest.name }} ({{ guest.role }})</option>
                            {% else %}
                                <option value="{{ guest.uid }}">{{ guest.name }} ({{ guest.role }})</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br><br>

                    Reserved Room:<br>
                    <select name="room_id">
                        {% for room in obj.rooms.data %}
                            {% if obj.data[0].room_id == room.room_id %}
                                <option selected="true" value="{{ room.room_id }}">{{ room.room_num }} ({{ room.room_type }})</option>
                            {% else %}
                                <option value="{{ room.room_id }}">{{ room.room_num }} ({{ room.room_type }})</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br><br>

                    Check In Date:<br>
                    <input type="date" name="check_in_date" value="{{ obj.data[0].check_in_date | format_date('%Y-%m-%d') }}" />
                    <br><br>

                    Check Out Date:<br>
                    <input type="date" name="check_out_date" value="{{ obj.data[0].check_out_date | format_date('%Y-%m-%d') }}" />
                    <br><br>


                    Payment Method:<br>
                    <select name="payment_method">
                        {% for method in obj.payment_methods %}
                            {% if obj.data[0].payment_method == method.value %}
                                <option selected="true" value="{{ method.value }}">{{ method.text }}</option>
                            {% else %}
                                <option value="{{ method.value }}">{{ method.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br><br>

                    Payment Date:<br>
                    <input type="date" name="payment_date" value="{{ obj.data[0].payment_date | format_date('%Y-%m-%d') }}" />
                    <br><br>
                    

                    Amount:<br>
                    <input type="int" name="amount" value="{{ obj.data[0].amount }}" />
                    <br> 
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
{% endblock %}